@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: doran, sans-serif;
}

/* card-hover-border.tsx */

.card-wrapper {
  position: relative;
  background: transparent;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.card-wrapper::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 1rem;
  padding: 3px;
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    #a37462 ,
    transparent 40%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
  transition: opacity 0.3s;
  opacity: 0;
  filter: drop-shadow(0 0 10px #a37462 ) brightness(1.2);
}

.card-wrapper:hover {
  box-shadow: 0 0 30px #a37462 ;
}

.card-content {
  position: relative;
  z-index: 1;
}

.icon-container {
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.card-wrapper:hover .icon-container {
  transform: scale(1.1);
}
.card-wrapper:hover::before {
  opacity: 1;
  animation: pulseGlow 2s infinite;
}
.card-wrapper.near-mouse::before {
  opacity: 1;
  animation: pulseGlow 2s infinite;
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 15px #a37462 ) brightness(1.2);
  }
  50% {
    filter: drop-shadow(0 0 25px #a37462 ) brightness(1.4);
  }
  100% {
    filter: drop-shadow(0 0 15px #a37462 ) brightness(1.2);
  }
}

/* card-hover-border.tsx */

.prose img {
  @apply rounded-xl shadow-lg;
}

.prose blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic my-8;
}

.prose h2 {
  @apply text-3xl font-bold mt-12 mb-3;
}

.prose h3 {
  @apply text-2xl font-bold mt-8 mb-4;
}

.prose p {
  @apply leading-relaxed mb-1 ;
}

.prose ul {
  @apply list-disc list-inside space-y-2 my-6;
}


/* Alternative mega menu background */
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #a37462;
  border-radius: 30px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a6253;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a37462 #f1f1f1;
}

